{% extends 'base.html' %}
{% block title %}JSON example{% endblock %}

{% block content %}
<div class="card">
    <h5 id="jua" class="card-header">JSON Example</h5>
    <div id="container" data-url="{% url 'chart_data' %}"></div>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
    $.ajax({
        url: $("#container").attr("data-url"),
        dataType: 'json',
        success: function(data) {
            Highcharts.chart("container", data);
        }
    });
    </script>
</div>
{% endblock %}