<!--templates/ticket_class_2.html-->
{% extends 'base.html' %}
{% block title %}Ticket Class #2{% endblock %}

{% block content %}
<div class="card">
  <h5 id="jua" class="card-header">Ticket Class #2</h5>
    <div id="container"></div>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script>
        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Titanic Survivors by Ticket Class'
            },
            xAxis: {
                categories: {{ categories|safe }}  /* safe 필터 */
            },
            series: [{
                name: 'Survived',
                data: {{ survived_series }},
                color: 'green'
            }, {
                name: 'Not survived',
                data: {{ not_survived_series }},
                color: 'red'
            }]
        });
    </script>
</div>
{% endblock %}