<!--templates/ticket_class_1.html-->
{% extends 'base.html' %}
{% block title %}Ticket Class #1{% endblock %}

{% block content %}
<div class="card">
  <h5 id="jua" class="card-header">Ticket Class #1</h5>
  <div id="container"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Titanic Survivors by Ticket Class'
        },
        xAxis: {
            categories: [
              {% for entry in dataset %}
                '{{ entry.ticket_class }} Class'{% if not forloop.last %}, {% endif %}
              {% endfor %}
            ]
        },
        series: [{
            name: 'Survived',
            data: [
              {% for entry in dataset %}
                {{ entry.survived_count }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            ],
            color: 'green'
        }, {
            name: 'Not survived',
            data: [
              {% for entry in dataset %}
                {{ entry.not_survived_count }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            ],
            color: 'red'
        }]
    });
  </script>
</div>
{% endblock %}